body {
    background-color: red;
    margin: 0 102px;
    background-repeat: no-repeat;
}

:root {
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rajdhani';
}

h1 {
    font-family: rajdhani;
    font-size: 36px;
    font-weight: 400;
}

h1 {
    color: red;
    font-family: 'Rajdhani';
    font-weight:
}

button {
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.Container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight: 300;
}


/*Design de la navigation */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

ul {
    list-style: none;
}

a {
    color: var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family: 'Rajdhani';
}


/*text-decoration. none; */

nav ul a:hover {
    color: var(--yellow-color);
}


/* Design la partie en tete Hero */


/* design  la partie batman personnage */

.batman-personnage {
    display: flex;
    justify-content: space-between;
}


/* design  la partie NEMESIS */

.NEMESIS {
    display: flex;
    justify-content: space-between;
}


/* design la patie ALLIES */

.ALLIES {
    display: flex;
    justify-content: space-between;
}